body {
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: 'Pixelify Sans';
}

a {
    font-style: normal;
    text-decoration: none;
}

h1 {
    padding-top: 5vh;
    padding-left: 5vw;
    font-size: 10vh;
    color: white;
}

h2 {
    position: absolute;
    left: 70vw;
    top: 5vh;
    font-size: 3vh;
    color: yellow;
}

nav.link {
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    /* padding: 2vh 2vw; */
    font-size: 5vh;
}

nav.link a {
    color: white;
}

nav.link a:hover {
    color: red;
}

span.line {
    padding: 1vh 0;
    height: 0.05vh;
    width: 20vw;
    background-color: white;
}

div.map, div.options {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-left: 5vw;
    font-size: 5vh;
}

div.map a, div.options a{
    color: white;
}

div.map a:hover{
    color: red;
}

div.map a.unclickable{
    color: gray;
}

div.map a.unclickable:hover{
    color: gray;
}

div.options img {
    height: 15vh;
}

div.options div {
    display: flex;
    flex-direction: row;
}

div.options div div.achievement {
    display: flex;
    flex-direction: column;
    padding: 1vh;
}

div.options a:hover {
    color: red;
}

div.options a.unclickable {
    color: gray;
}

div.options a.unclickable:hover {
    color: gray;
}

span.white{
    color: white;
    font-size: 3vh;
}

span.yellow{
    color: yellow;
    text-transform: capitalize;
    font-size: 3vh;
}

nav.bottom {
    position: sticky;
    left: 5vw;
    top: 90vh;
    font-size: 5vh;
}

nav.bottom a {
    color: white;
}

nav.bottom a:hover {
    color: red;
}

div.socials {
    position: absolute;
    left: 85vw;
    top: 85vh;
}

div.socials img {
    height: 10vh;
}