<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not NZP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>ACHIEVEMENT</h1>
    <h2>2. 0. 0-indev+202408114071902</h2>
    <div class="options">
        <div>
            <img src="assets/ready.png" alt="ready">
            <div class="achievement">
                <span class="yellow">Ready..</span>
                <span class="white">Reach Round 5</span>
            </div>
        </div>
        <div>
            <img src="assets/steady.png" alt="steady"> 
            <div class="achievement">
                <span class="yellow">Steady..</span>
                <span class="white">Reach Round 10</span>
            </div>
        </div>
        <div>
            <img src="assets/go_hell_no.png" alt="go_hell_no">
            <div class="achievement">
                <span class="yellow">Go? Hell No...</span>
                <span class="white">Reach Round 15</span>
            </div>
        </div>
        <a href="">Next Page</a>
        <a href="" class="unclickable">Previous Page</a>
    </div>
    <nav class="bottom">
        <a href="/">Back</a>
    </nav>
    <!-- <div class="socials">
        <img src="assets/social.png" alt="socials">
    </div> -->
</body>
</html>