<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not NZP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>ACHIEVEMENT</h1>
    <h2>2. 0. 0-indev+202408114071902</h2>
    <div class="options">
        <div class="achievement1">
            <img src="assets/ready.png" alt="ready">
        </div>
        <div class="achievement2">
            <img src="assets/steady.png" alt="stready"> 
        </div>
        <div class="achievement3">
            <img src="assets/go_hell_no.png" alt="go_hell_no">
        </div>
    </div>
    <nav class="bottom">
        <a href="/">Back</a>
    </nav>
    <!-- <div class="socials">
        <img src="assets/social.png" alt="socials">
    </div> -->
</body>
</html>