<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not NZP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>COOPERATIVE</h1>
    <h2>2. 0. 0-indev+202408114071902</h2>
    <div class="options">
        <span class="player_name">Player Name</span>
        <span class="line"></span>
        <a href="">Join Game</a>
        <a href="">Create Game</a>
    </div>
    <nav class="bottom">
        <a href="/">Back</a>
    </nav>
    <div class="socials">
        <img src="assets/social.png" alt="socials">
    </div>
</body>
</html>