<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not NZP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>CREDITS</h1>
    <h2>2. 0. 0-indev+202408114071902</h2>
    <div class="options">
        <span class="yellow">assets</span>
        <span class="white">Game GFX, Sound, etc. data.</span>
        <span class="yellow">dquakeplus</span>
        <span class="white">The NZ:P PSP engine, forked from dQuakePlus.</span>
        <span class="yellow">fteqw</span>
        <span class="white">The NZ:P Windows, Mac, Linux, and Web engine. Powered by Spike's FTEQW, with minimal changes.</span>
        <span class="yellow">glquake</span>
        <span class="white">The NZ:P Nintendo 3DS engine, forked from ctrQuake.</span>
        <span class="yellow">quakespasm</span>
        <span class="white">The NZ:P Nintendo Switch and PS VITA engine, forked from QuakespasmNX.</span>
        <span class="yellow">quakec</span>
        <span class="white">The game-side code for things like weapons and Perk machines.</span>
        <span class="yellow">tools</span>
        <span class="white"> Misc. development tools.</span>
    </div>
    <nav class="bottom">
        <a href="/">Back</a>
    </nav>
    <!-- <div class="socials">
        <img src="assets/social.png" alt="socials">
    </div> -->
</body>
</html>